@import "../../../varibles";

.GameItem {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-color: $accent-color;
  box-shadow: $border;
  border-radius: 3px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 1rem;

  &:hover {
    transform: scale(1.03);
  }

  figure {
    width: 100%;
    display: flex;

    .Poster {
      width: 8rem;
    }
  }

  &__interactive-el {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &__info {
    width: 100%;
  }
}

@media (min-width: 40rem) {
  .GameItem {
    margin-bottom: 0;
  }
}
