@import "../../../varibles";

.GameItem {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-color: $accent-color;
  box-shadow: $border;
  border-radius: 3px;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    figure {
      width: 100%;
      display: flex;
      margin-bottom: 1rem;

      .Poster {
        width: 8rem;
      }
    }
  }

  &__interactive-el {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  &__info {
    width: 100%;
  }
}