@import "../../../varibles";

.ArrowButton {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: $text-color;
  font-size: inherit;
  cursor: pointer;

  &__item {
    display: inline-block;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}