@import "../../../varibles";

.SignUp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 80%;

  h2 {
    color: $text-color;
    margin-bottom: 1rem;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-color: $accent-color;
    box-shadow: $border;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.2rem 0.5rem;
    width: 100%;
  }

  input[type="submit"] {
    margin-bottom: 1rem;
    border: none;
    background: $second-background-color;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    width: 10rem;
  }
}
