@import "../../varibles";

.SingleGamePage {
  background-color: $first-background-color;
  width: 100%;
  padding-top: 5rem;

  .GameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__bottom-block {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (min-width: 40rem) {
  .SingleGamePage {
    .GameInfo {
      flex-direction: row;
      justify-content: space-around;

      &__bottom-block {
        text-align: left;
        width: 50%;
      }
    }
  }
}
