@import "../../../varibles";

.ProfileInfo {
  margin-left: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  input[type="text"] {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    border-color: $accent-color;
    box-shadow: $border;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.2rem 0.5rem;
    width: 100%;
  }

  input[type="file"] {
    margin-bottom: 1rem;
    margin-right: 1rem;
    border: none;
    background: $second-background-color;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
  }

  input[type="submit"] {
    margin-bottom: 1rem;
    border: none;
    background: $second-background-color;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    font-family: inherit;
    font-weight: bold;
    width: 30%;
  }

  &__settings {
    background-color: transparent;
    border: none;
    fill: $accent-color;

    svg {
      height: 3rem;
    }
  }

  &__photo {
    width: 90%;
    margin-bottom: 1rem;

    img {
      width: 20rem;
      height: auto;
      border-color: $accent-color;
      box-shadow: $border;
      border-radius: 3px;
    }

    .ProfileInfo__settings {
      position: fixed;
      display: inline-block;
      top: 6rem;
      left: -5rem;
    }
  }

  &__about {
    width: 90%;

    &--item {
      display: flex;
      align-items: center;
      justify-content: left;

      svg {
        width: 2rem;
        height: 2rem;
        fill: $second-background-color;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
      }

      .ProfileInfo__settings {
        margin-left: 0.5rem;

        svg {
          fill: $accent-color;
          height: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 40rem) {
  .ProfileInfo {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

    &__photo {
      margin-bottom: 1rem;

      img {
        border-color: $accent-color;
        box-shadow: $border;
        border-radius: 3px;
      }
    }

    &__about {
      margin-left: 1rem;
    }
  }
}
