@import "../../../varibles";

.Rating {
  width: 7rem;
  justify-content: space-around;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;

  &:hover::after {
    content: attr(hint);
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
    background: rgba(15, 26, 56, 0.9);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    width: 5rem;
    border-color: $accent-color;
    box-shadow: $border;
    border-radius: 3px;
  }

  &__circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 250px;
  }

  &__circle-bg {
    fill: none;
    stroke: $first-background-color;
    stroke-width: 3.8;
  }

  &__circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 1s ease-out forwards;
    stroke: $accent-color;
  }

  &__percentage {
    fill: $text-color;
    font-family: inherit;
    font-size: 0.5em;
    text-anchor: middle;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
