@import "../../../varibles";

.Poster {
  &-img {
    margin: 1rem;
    align-self: center;
  }

  &-svg {
    margin: 1rem;
    width: 3rem;
    height: 3rem;
    fill: $accent-color;
    align-self: center;
  }
}
