@import "../../varibles";

.Header {
  background-color: $second-background-color;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  z-index: 1;

  &__logo {
    width: 2rem;
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;

      li {
        margin-right: 1rem;
      }
    }
  }
}
