@import "../../varibles";
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

.Header {
  background-color: $second-background-color;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  position: fixed;
  top: 0;
  z-index: 1;

  &__logo {
    font-family: "VT323", monospace;
    color: $first-background-color;
    font-size: 2.5rem;

    span {
      font-family: "Great Vibes", cursive;
      color: $text-color;
      font-size: 1.5rem;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;

    ul {
      display: flex;

      li:not(:last-child) {
        margin-right: 0.5rem;

        &:first-child {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 30rem) {
  .Header {
    &__navigation {
      ul {
        li:not(:last-child) {
          margin-right: 1rem;

          &:first-child {
            display: flex;
          }
        }
      }
    }
  }
}
