@import "../../../varibles";

.star-rating {
  display: inline-block;
  position: relative;
  height: 2rem;
  width: 10rem;

  button {
    font-size: 2rem;

    &:hover::after {
      content: attr(hint);
      position: absolute;
      left: 70%;
      bottom: 70%;
      z-index: 10;
      background: rgba(15, 26, 56, 0.9);
      font-family: "Oswald", sans-serif;
      font-size: 1rem;
      padding: 1rem;
      border-color: $accent-color;
      box-shadow: $border;
      border-radius: 3px;
      color: $text-color;
    }
  }
}

@mixin star() {
  border: 0;
  padding: 0;
  margin: 0;
  cursor: default;
  background-color: transparent;
  color: #b4b7b9;

  .transparent {
    // For hiding the stars that would be on top of eachother. Without this, there are rendering issues due to anti-aliasing
    color: transparent;
  }
}

@mixin star-hover() {
  cursor: pointer;

  &:hover,
  &:focus {
    color: $second-background-color;

    ~ * {
      // Used to color the lower starts when hovering, which is why they are in reverse order in markup
      color: $second-background-color;
    }
  }
}

.one-star,
.two-star,
.three-star,
.four-star,
.five-star {
  @include star();
  @include star-hover();
  position: absolute;
  top: 0;
  left: 0;
}

.star-rating {
  input[type="radio"] {
    display: none;

    &:checked {
      ~ * {
        color: $second-background-color;
      }
    }
  }
}

.CheckedStar {
  color: $second-background-color;
}
