@import "../../../varibles";

.ToRememberButton {
  background-color: transparent;
  border: none;
  margin-bottom: 1rem;

  svg {
    width: 2rem;
    height: 2rem;
    fill: $second-background-color;
  }
}