@import "../../../varibles";

.ToRememberButton {
  background-color: transparent;
  border: none;
  margin-bottom: 1rem;
  display: inline-block;
  position: relative;

  &__select {
    background-color: transparent;
    border: none;
    border-color: $accent-color;
    box-shadow: $border;
    border-radius: 3px;
    font-family: inherit;
    padding: 0.2rem 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    width: 10rem;
    font-family: "Oswald", sans-serif;
  }

  &__select:enabled {
    background-color: $first-background-color;
  }

  &:hover::after {
    content: attr(hint);
    position: absolute;
    left: 70%;
    bottom: 70%;
    z-index: 10;
    background: rgba(15, 26, 56, 0.9);
    font-family: "Oswald", sans-serif;
    font-size: 1rem;
    padding: 1rem;
    border-color: $accent-color;
    box-shadow: $border;
    border-radius: 3px;
    color: $text-color;
  }

  svg {
    width: 2rem;
    height: 2rem;
    fill: $second-background-color;
  }
}
