$first-background-color: rgb(15, 26, 56);
$second-background-color: #e31474;
$third-background-color: #2a2f3d;
$accent-color: rgb(0, 201, 238);
$text-color: #e3e3e3;
$border: 0 2px 2px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 201, 238, 0.9);