@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

$first-background-color: #0f1a37;
$second-background-color: #e31474;
$third-background-color: #2a2f3d;
$accent-color: rgb(0, 201, 238);
$text-color: #e3e3e3;
$border: 0 2px 2px rgba(0, 0, 0, 0.07), 0 0 10px rgba(0, 201, 238, 0.9);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

a,
button,
input {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: $text-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

p {
  color: $text-color;
}

.App {
  background-color: $second-background-color;
  height: 100vh;
}

.Logo {
  width: 2rem;
}

.SubmitButton {
  border: none;
  background: $first-background-color;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
}

.Header {
  background-color: $second-background-color;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;

  .Header__container-right {
    display: flex;
    justify-content: flex-end;

    .Header__container-right__items {
      display: flex;

      .Header__container-right__item {
        margin-right: 1rem;
      }
    }
  }
}

.PosterGame {
  width: 9rem;
  height: auto;
  margin: 1rem 1rem;
}

.TitleGame {
  font-weight: bold;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.DescriptionGame {
  margin: 0 1rem;
}

.RandomGame {
  background: linear-gradient(
    $second-background-color,
    $first-background-color
  );
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  text-align: center;
}

.PreferenceGames {
  background-color: $first-background-color;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 1rem;

  .PreferenceGames__title {
    font-weight: bold;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.ArrowButton__container {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: $text-color;
  font-size: inherit;
  cursor: pointer;

  .ArrowButton {
    display: inline-block;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

.SearchPage {
  background-color: $first-background-color;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;

  .ArrowButton {
    height: 0.7rem;
    width: 0.7rem;
    margin-left: 0.5rem;
    border: none;
    background-color: $second-background-color;
  }

  .FilterPanel {
    width: 80%;

    .FilterPanel__item {
      margin-bottom: 0.7rem;
      display: flex;
      flex-direction: column;

      label {
        color: $text-color;
      }

      select {
        margin-left: 1rem;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        margin-top: 0.5rem;
        padding: 0.5rem;
        background-color: $text-color;
        border-radius: 50%;
        display: inline-block;
        position: relative;
      }

      input[type="checkbox"]:checked {
        background: $accent-color;
        border-color: $accent-color;
        box-shadow: $border;
      }

      input[type="range"] {
        margin-left: 1rem;
        -webkit-appearance: none;
        background-color: transparent;
      }

      input[type="range"]:focus {
        outline: none;
      }

      input[type="range"]::-webkit-slider-runnable-track {
        width: 100%;
        height: 0.2rem;
        cursor: pointer;
        background: $second-background-color;
        border: none;
      }

      input[type="range"]::-webkit-slider-thumb {
        border: none;
        height: 1rem;
        width: 1rem;
        border-radius: 50%;
        background: $accent-color;
        border-color: $accent-color;
        box-shadow: $border;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -0.4rem;
      }

      .FilterPanel__item__search-bar {
        background-color: transparent;
        border: none;
        border-color: $accent-color;
        box-shadow: $border;
        border-radius: 3px;
        font-family: inherit;
        padding: 0.2rem 0.5rem;
        width: 100%;
        background-image: url("./assets/icons8-search.svg");
        background-repeat: no-repeat;
        background-position: right;
        background-size: 1.8rem;
      }
    }

    .input-range {
      flex-direction: row;
    }

    .ArrowButton {
      transform: rotateZ(180deg);
    }

    .menu-open {
      transition: 700ms;
      transform: rotateZ(0deg);
    }

    .menu-closed {
      transition: 700ms;
      transform: rotateZ(180deg);
    }
  }

  .SearchPage__container {
    padding: 2rem 1rem;
  }
}

.Pagination {
  .ArrowButton__container:first-child {
    .ArrowButton {
      transform: rotateZ(270deg);
      margin-right: 1rem;
    }
  }

  .ArrowButton__container:last-child {
    .ArrowButton {
      transform: rotateZ(90deg);
      margin-left: 1rem;
    }
  }
}

.SingleGamePage {
  background-color: $first-background-color;
  width: 100%;
  padding: 1rem;

  .GameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;

    .PosterGame {
      background-color: $second-background-color;
      height: 10rem;
    }

    .GameInfo__bottom-block {
      display: flex;
      flex-direction: column;
      align-items: center;

      .Rating {
        margin-top: 1rem;
      }
    }
  }

  .Videos {
    margin: 1rem auto;

    .Videos__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem auto;
      height: 25rem;
      border-color: $accent-color;
      box-shadow: $border;
      border-radius: 3px;
    }
  }

  .Summary {
    margin-bottom: 1rem;
  }
}

.ToRememberButton {
  background-color: transparent;
  border: none;
  margin: 0 1rem;
  color: $second-background-color;
}

.StarButton {
  width: 1rem;
  height: 1rem;
  background-color: yellow;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.AddUserRating {
  margin-left: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

.GameItem {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  width: 100%;
  border-color: $accent-color;
  box-shadow: $border;
  border-radius: 3px;
}

.Footer {
  background: linear-gradient(
    $first-background-color,
    $second-background-color
  );
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;

  .ArrowButton {
    width: 2.5rem;
    height: 2.5rem;
    margin-left: 1rem;
    border: none;
    background-color: $first-background-color;
  }

  .Footer__container-middle {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
  }
}

@media (min-width: 56rem) {
  .GameItem {
    width: 90%;
  }

  .RandomGame {
    flex-direction: row;
    justify-content: space-around;

    .RandomGame__container {
      text-align: left;
      width: 50%;
    }
  }

  .PreferenceGames {
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    display: grid;
    width: 100%;
  }

  .SearchPage {
    .SearchPage__container {
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      display: grid;
      width: 100%;
    }
  }
}
