@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import "_varibles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Oswald", sans-serif;
  font-size: 1rem;
}

a,
button,
input,
select {
  text-decoration: none;
  outline: none;
  cursor: pointer;
  color: $text-color;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul {
  list-style: none;
}

p,
h3 {
  color: $text-color;
}

.App {
  background-color: $first-background-color;
}

.switch-wrapper {
  position: relative;
}
