@import "../../../varibles";

.Description {
  display: flex;
  flex-direction: column;

  &__genres {
    margin-bottom: 0.5rem;
    display: inline-block;
    position: relative;

    span {
      font-weight: bold;
    }
  }

  &__platforms {
    display: inline-block;
    position: relative;

    span {
      font-weight: bold;
    }
  }
}
