@import "../../_varibles";

  .Loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: $second-background-color;
    background: -moz-linear-gradient(left, $second-background-color 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, $second-background-color 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, $second-background-color 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, $second-background-color 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, $second-background-color 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  .Loader:before {
    width: 50%;
    height: 50%;
    background: $second-background-color;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
  }
  .Loader:after {
    background: $first-background-color;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @-webkit-keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load3 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }  

.SubmitButton {
  border: none;
  background: $first-background-color;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
  font-family: inherit;
  font-weight: bold;
}

.PosterGame {
  margin-bottom: 1rem;
  width: auto;
}

.TitleGame {
  margin-bottom: 1rem;
}

.Rating {
  margin-bottom: 1rem;

  .Rating__number {
    color: $second-background-color;
  }
}

.DescriptionGame {
  margin-bottom: 1rem;
}

.ToRememberButton {
  background-color: transparent;
  border: none;
  margin-bottom: 1rem;
  color: $second-background-color;
}

.StarButton {
  width: 1rem;
  height: 1rem;
  background-color: yellow;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.AddUserRating {
  margin-bottom: 1rem;
}

.ArrowButton__container {
  border: none;
  background-color: transparent;
  font-family: inherit;
  color: $text-color;
  font-size: inherit;
  cursor: pointer;

  .ArrowButton {
    display: inline-block;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}
